<div class="row">
<div class=" col-3 mt-3" *ngFor="let p of prodData">
    <img class="bd-placeholder-img card-img-top" src="{{p.prodImg}}"/>

    <div class="card-body">
        <h1 class="card-text">{{p.prodName}}</h1>
        <p class="card-text">{{p.prodPrice| currency:'BRL'}}</p>
        

        <div class="btn-group">
            <button class="btn btn-sm btn-primary ml-auto">Ver mais</button>
            <button class="btn btn-sm btn-success mx-auto">Comprar</button>
        </div>

    </div>
    </div>
</div>